.galeria {
  padding: 2rem;
  text-align: center;
  color: white;
  border: 2px solid white;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.galeria img {
  width: 100%;
/* Altura fija para uniformidad */
  min-height: 400px;
  object-fit: cover; /* Rellena el espacio recortando */
  border-radius: 8px;
}
h2 {
  color: white;
  text-align: center;
  margin-top: 0;
}