<header class="header">
  <!-- routelink: es el equivalente a href en angular
  routerLinkActive: aplica una clase CSS automáticamente cuando esa ruta está activa. -->
  <div class="headerLogo">
    <a routerLink="/">
      <img src="/assets/fotos/logo/logo.png" alt="Logo Zero11" width="120">
    </a>
  </div>

  <nav>
    <a routerLink="/carta" routerLinkActive="active">Carta</a>
    <a routerLink="/eventos" routerLinkActive="active">Eventos</a>
    <!-- <a routerLink="/reservas" routerLinkActive="active">Reservas</a> -->
    <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
    <a routerLink="/locales" routerLinkActive="active">Locales</a>
    <ng-container *ngIf="isAdmin">
      <a routerLink="/admin/panel" routerLinkActive="active">Añadir producto</a>
      <a routerLink="/admin/eventos" routerLinkActive="active">Añadir evento</a>
    </ng-container> 
    <!-- <a routerLink="/cuenta" routerLinkActive="active">Mi cuenta</a> -->
  </nav>

  <div class="social">
    <a href="https://www.instagram.com/zero11.vlc/?hl=es" target="_blank" aria-label="Instagram">
      <img src="/assets/fotos/media/instagram.png" alt="Instagram Logo" width="30">
    </a>
    <a href="https://www.facebook.com/people/zero11_craftbeerbar/100083147629377/" target="_blank" aria-label="Facebook">
      <img src="/assets/fotos/media/facebook.png" alt="Facebook Logo" width="30">
    </a>
    <a href="https://wa.me/34653161089" target="_blank" aria-label="Whatsapp">
      <img src="/assets/fotos/media/whatsapp.png" alt="Whatsapp Logo" width="30">
    </a>
  </div>
</header>
