<div class="barra">
  <img src="assets/fotos/local/barra.jpg" alt="barra">
  <div class="texto">
    <h1>BEER AND FOOD</h1>
    <h2>VALENCIA</h2>
  </div>
</div>
<div class="body_container">
  <h3 class="evento_h3">Próximo evento</h3>
  <div class="evento">
    <div class="evento_texto">
      <h2>IMPRO#2</h2>
      <h3>Jueves, 6 de Junio 2024 a las 20:30</h3>
      <p>"IMPRO LAB. Desafios de improvisación teatral a cargo de los improvisadores
        de Laboratorio impro. Ven y ponles a prueba!!!3..2..1..IMPRO!"</p>
    </div>
    <div>
      <img src="assets/fotos/eventos/evento.png" alt="evento">
    </div>
  </div>
</div>