<div class="barra">
  <img src="assets/fotos/local/barra.jpg" alt="barra" />
  <div class="texto zoom-text">
    <h1>BEER AND FOOD</h1>
    <h2>VALENCIA</h2>
  </div>
</div>
<div class="body_container">
  <h3 class="evento_h3">Próximo evento</h3>
  <div class="evento" *ngIf="eventoProximo">
    <div class="evento_texto">
      <h2>{{ eventoProximo.titulo }}</h2>
      <h3>{{ eventoProximo.fecha }} a las {{ eventoProximo.hora }}</h3>
      <p>{{ eventoProximo.descripcion }}</p>
    </div>
    <div>
      <img [src]="eventoProximo.imagen" alt="evento" />
    </div>
  </div>
</div>
<app-galeria></app-galeria>
