<div class="container my-5">
  <div class="card shadow mb-5">
    <div class="card-body">
      <h2 class="card-title text-center mb-4 fs-1 fw-bold">
        Zero11 - Cabanyal
      </h2>

      <!-- Carrusel 1-->
      <div
        id="carouselLocal1"
        class="carousel slide mb-4 carousel-custom"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner rounded">
          <div class="carousel-item active">
            <img
              src="assets/fotos/Cabanyal/barra2.jpg"
              class="d-block w-100"
              alt="barra2"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/fotos/Cabanyal/barra3.jpg"
              class="d-block w-100"
              alt="barra3"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/fotos/Cabanyal/diana.jpg"
              class="d-block w-100"
              alt="diana"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/fotos/Cabanyal/futbolin.jpg"
              class="d-block w-100"
              alt="futbolin"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/fotos/Cabanyal/patin.jpg"
              class="d-block w-100"
              alt="patin"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/fotos/Cabanyal/pinball.jpg"
              class="d-block w-100"
              alt="pinball"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselLocal1"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselLocal1"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>

      <!-- Mapa 1-->
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.968625300809!2d-0.33348619999999995!3d39.4700375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6049b49afb745f%3A0x3f470a8db87238d9!2sZero%2011%20Caba%C3%B1al!5e0!3m2!1ses!2ses!4v1743445762784!5m2!1ses!2ses"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </div>
  </div>

  <div class="card shadow mb-5">
    <div class="card-body">
      <h2 class="card-title text-center mb-4 fs-1 fw-bold">Zero11 - Russafa</h2>
      <!-- Carrusel 2-->
      <div
        id="carouselLocal2"
        class="carousel slide mb-4 carousel-custom"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner rounded">
          <div class="carousel-item active">
            <img
              src="assets/fotos/Russafa/local.jpg"
              class="d-block w-100"
              alt="local"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/fotos/Russafa/columna.jpg"
              class="d-block w-100"
              alt="barra3"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/fotos/Russafa/gremlin.jpg"
              class="d-block w-100"
              alt="grmalin"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/fotos/Russafa/recreativa.jpg"
              class="d-block w-100"
              alt="recreativa"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/fotos/Russafa/terraza.jpg"
              class="d-block w-100"
              alt="terraza"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselLocal2"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselLocal2"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>

      <!-- Mapa 2-->
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.292597056567!2d-0.36905189999999993!3d39.4627181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6049f69b396169%3A0x7a06a2a8ee4c5576!2sZero%2011%20Russafa!5e0!3m2!1ses!2ses!4v1743786193450!5m2!1ses!2ses"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
