<div class="container mt-5">
  <!-- Próximo evento -->
  <h3 class="text-center mb-4 text-light">Próximo evento</h3>
  <div
    class="card mb-5 border border-light text-white myCard w-75 mx-auto bg-black"
    *ngIf="eventoProximo"
  >
    <div class="row g-0">
      <div class="col-md-7 d-flex flex-column justify-content-start p-4">
        <div class="card-body">
          <h2 class="card-title fw-bold border-bottom border-white pb-3">
            {{ eventoProximo.titulo }}
          </h2>
          <h4 class="mb-3 mt-3">
            {{ eventoProximo.fecha | date : "dd/MM/yyyy" }} a las
            {{ eventoProximo.hora.slice(0, 5) }}
          </h4>
          <p class="card-text">{{ eventoProximo.descripcion }}</p>
        </div>
        <div *ngIf="isAdmin" class="text-center">
          <button
            class="btn btn-danger btn-sm mb-3 mx-auto"
            (click)="eliminarEvento(eventoProximo.id)"
          >
            Eliminar
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <img
          [src]="eventoProximo.imagen"
          class="img-fluid rounded-end h-100 w-100"
          style="object-fit: cover"
          alt="evento"
        />
      </div>
    </div>
  </div>

  <h3 *ngIf="eventos.length > 0" class="text-center mb-4 text-light">
    Eventos
  </h3>
  <div
    class="row text-white row-cols-1 row-cols-md-2 g-4 justify-content-center w-75 mx-auto"
  >
    <div class="col" *ngFor="let evento of eventos">
      <div class="card h-100 myCard text-white border border-light">
        <img
          [src]="evento.imagen"
          class="card-img-top evento-img"
          [alt]="evento.titulo"
        />
        <div class="card-body">
          <h5 class="card-title border-bottom border-white pb-3">
            {{ evento.titulo }}
          </h5>
          <p class="card-text">{{ evento.descripcion }}</p>
          <p class="card-text">
            <small class="text-white"
              >{{ evento.fecha | date : "dd/MM/yyyy" }} a las
              {{ evento.hora.slice(0, 5) }}</small
            >
          </p>
        </div>
        <div *ngIf="isAdmin" class="mt-2 d-flex justify-content-center gap-2">
          <button
            class="btn btn-danger btn-sm mb-3"
            (click)="eliminarEvento(evento.id)"
          >
            Eliminar
          </button>
          <!-- <button class="btn btn-primary btn-sm" (click)="editarEvento(evento)">Editar</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
