.myCard{
  background-color: black;
}
.evento-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.proximo-card{
  height:200%;
}
/*
-width: 100% ocupa todo el ancho del contenedor
-height: 200px alto fijo para todas
-object-fit: cover recorta la imagen sin deformarla
-object-position: center centra el recorte
*/